 :root {
     --blanco: #FFFFFF;
     --oscuro: #212121;
     --primario: #FFC107;
     --secundario: #105f7e;
     --gris: #757575;

 }

 html {
     font-size: 62.5%;
 }

 body {
     font-family: "Montserrat", sans-serif;
     font-size: 16px
         /* 1rem = 10px*/
 }

 .titulo {
     text-align: center;
     font-size: 3.8rem;
     font-family: "Montserrat", sans-serif;
 }

 .titulo span {
     font-size: 2rem;
 }

 .nav-bg {
     background-color: var(--primario);
 }

 .nav-principal a {}

 .contenedor {
     width: 120rem;
     margin: 0 auto;
 }