 :root {
     --blanco: #FFFFFF;
     --oscuro: #212121;
     --primario: #FFC107;
     --secundario: #105f7e;
     --gris: #757575;

 }

 html {
     font-size: 62.5%;
 }

 body {
     font-family: "Montserrat", sans-serif;
     font-size: 16px
         /* 1rem = 10px*/
 }

 .titulo {
     text-align: center;
     font-size: 3.8rem;
     font-family: "Montserrat", sans-serif;
 }

 .titulo span {
     font-size: 2rem;
 }

 .contenedor {
     max-width: 120rem;
     margin: 0 auto;
 }

 .nav-bg {
     background-color: var(--secundario);
 }

 .nav-principal {
     display: flex;
     flex-direction: column;

 }

 @media (min-width:768px) {
     .nav-principal {
         flex-direction: row;
         justify-content: space-between;
     }
 }

 .nav-principal a {
     display: block;
     text-align: center;
     color: var(--blanco);
     text-decoration: none;
     font-size: 2re m;
     font-weight: 700;
     padding: 1rem;
 }


 .nav-principal a:hover {
     background-color: var(--primario);
     color: var(--oscuro);
 }